&spi1 {
    status = "disabled";
};

&spi2 {
    compatible = "nordic,nrf-spi";
    status = "okay";

    lr1110: lr1110@0 {
        compatible = "irnas,lr11xx";
        reg = <0>;
        spi-max-frequency = <4000000>;
        label = "LR1110";

        reset-gpios = <&gpio0 3 0>;
        gps-lna-en-gpios = <&gpio0 29 0>;
        busy-gpios = <&gpio1 4 0>;
        event-gpios = <&gpio1 6 0>;

        rf-sw-enable = "DIO5", "DIO6", "DIO7";
        rf-sw-standby-mode = "NONE";
        rf-sw-rx-mode = "DIO5";
        rf-sw-tx-mode = "DIO5", "DIO6";
        rf-sw-tx-hp-mode = "DIO6";
        rf-sw-tx-hf-mode = "NONE";
        rf-sw-wifi-mode = "NONE";
        rf-sw-gnss-mode = "DIO7";
    };
};

