menuconfig LR11XX_LIB
    bool "LR11XX library"
    depends on SPI && GPIO
    help
        This library can handle one instance of lr1110/lr1120 chip present on the
        board.
        It implements basic modem lr10xx driver.

if LR11XX_LIB


endif # LR11XX_LIB